<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Homepage DEMO</title>
</head>
<body>
  <h1>This is the Home Page!</h1>
  <form action="/new" method="POST">
    <label for="textinput">Input Text</label>
    <input type="text" name="textinput" id="">
    <label for="numinput">Input Number</label>
    <input type="number" name="numinput" value="0" id="">
    <button type="submit">Add Item</button>
  </form>
  <ul>
    <li></li>
  </ul>
</body>
</html>